body {
    background: #DCE0E6;
    font-family: 'Dosis', sans-serif;
}

tt.ng-binding {
    font-family: 'Dosis', sans-serif;
    color: #1F1F20;
}

tt {
    font-family: 'Dosis', sans-serif;
}

span.ng-binding {
    font-family: 'Dosis', sans-serif;
}

.lowprice {
    font-size: large;
}

.nav-style {
    background-color: #2B4C7E;
}

.navbar-right {
    position: relative;
    right: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.page-header {
    text-align: center;
}
.searchBar{
    text-align: right;
}
input[type=text] {
    width: 300px;
}

.centered {
    text-align: center
}

.description {
    margin-left: 2%;
    font-size: medium;
}

.thumbHeight {
    height: 10%;
}

.featuredDiv {
    margin-top: 1%;
    color: #DCE0E6;
    background: #567EBB;
}

.titleDiv {
    background: #1F1F20;
    color: #567EBB;
}

.redFont {
    color: red
}

.whiteFont {
    color: #DCE0E6;
}

.featuredDescription {
    margin-top: 1%
}

.indi {
    margin-top: 10%
}

.featureName {
    color: #1F1F20;
}

.thumbDes {
    color:black;
}

.searchBtn {
    background: #567EBB;
    color: #2B4C7E;
}

.right {
    text-align: right
}

.resultsDiv {
    background: #567EBB;
    padding: 25px;
}

.accentBlueBG {
    background: #567EBB;
}

.firstResult {
    border-radius: 25px;
    border: 4px solid #2B4C7E;
    padding: 15px;
}

.otherResults {
    border-radius: 25px;
    border: 4px solid #2B4C7E;
    padding: 15px;
    color: #1F1F20;
    margin-bottom: 25px;
}

.contactDiv {
    margin-top: 1%;
    color: #1F1F20;
    background: #567EBB;
    font-size: large;
}

.imgBorder {
    border: 8px black double;
}

.linkStyle {
    color: #2B4C7E;
}

.linkStyle:hover {
    color: #DCE0E6;
}

.magicTitle {
    color: #567EBB;
    background: -webkit-linear-gradient(92deg,#567EBB,#DCE0E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 30s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}