body {
    background: #F6F6F6;
}

.nav-style {
    color: #3f51b5;
}

.navbar-right {
    display: inline-block;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.page-header {
    text-align: center;
}
.searchBar{
    text-align: right;
}
input[type=text] {
    width: 300px;
}
.centered{text-align: center}
.description{ margin-left: 2%}
.thumbHeight{
    height: 10%;}
.featuredDiv {
    margin-top: 1%;
    color: #E8E8E8;
    background: #990100;
}
.redFont{color:red}
.whiteFont{color: #F6F6F6}
.featuredDescription{margin-top: 1%}
.indi{margin-top: 10%}
.featureName {
    color: #333333
}
.thumbDes{
    color:black;}
