<div>
    <div class="centered alert titleDiv">
        <h1 class="title" ui-sref="home"><i class="fa fa-shopping-bag largerBag magicTitle"></i> Super-Duper Megastore</h1>
    </div>
    <div>
        <div class="alert featuredDiv featureName">
            <h2 class="whiteFont" style="margin-bottom: 40px">{{profile.name}}'s Cart</h2>
            <div class="centered">
                <span class="description">You currently have {{cartC.items.length}} item(s) in your cart.</span>
            </div>

            <div ng-repeat="myCart in cartC.items">
                <div style="border: 3px black solid;margin-top: 1%">
                    <img ng-src="{{myCart.image}}" ng-click="sc.selectedItem(data)" ui-sref="select">
                    <tt><span class="whiteFont">Name:</span> {{myCart.name}}</tt><br>
                    <tt><span class="whiteFont">Item id:</span> {{myCart.Id}}</tt><br>
                    <tt><span class="whiteFont">Our Price:</span> {{myCart.price| currency}}</tt>
                    <span><button class="btn profileBtns removeBtn" ng-click="removeItem(item);">Remove Item</button></span>
                </div>

            </div>

        </div>
    </div>

</div>