<div>
    <div class="centered alert titleDiv">
        <h1 class="title" ui-sref="home"><i class="fa fa-shopping-bag largerBag magicTitle"></i> Super-Duper Megastore</h1>
    </div>
    <div>
        <div class="alert featuredDiv featureName">
            <h2 class="whiteFont" style="margin-bottom: 40px">{{profile.name}}'s Cart</h2>
            <div class="centered">
                <span class="description">You currently have __ items in your cart.</span>
            </div>
        </div>
    </div>
    <div ng-repeat="item in cartC.itemsInCart">
        {{item.salePrice}}
    </div>
</div>