<div>

    <!--<div class="nav-style">-->
    <!--<ul class="nav nav-pills">-->
    <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
    <!--<li role="presentation"><a href="#">Profile</a></li>-->
    <!--<li role="presentation"><a href="#">Messages</a></li>-->
    <!--<li role="presentation" class="navbar-right"><a href="#">Login</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="centered alert titleDiv">
        <h1><i class="fa fa-shopping-bag fa-lg"></i> Super-Duper Megastore</h1>
        <!--<a ui-sref="SearchResult" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>-->

        <div class="searchBar">
            <input placeholder="Search" type="text" width="200" name="queryInput" ng-model="hc.searchQuery">
            <input class="btn searchBtn" id="fetchbtn" ng-click="hc.search()" ui-sref="SearchResult" value="Search Our Products">
            <!--<button class="btn btn-success" id="fetchbtn" ng-click="hc.search()"><i class="fa fa-search fa-lg"></i> Search Our Products</button>-->

            <br>
        </div>
    </div>


        <div class="alert featuredDiv">
            <h2 class="centered">Featured:</h2>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators ">
                    <li data-target="#myCarousel" data-slide-to="0" class="indi "></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="centered">
                            <h3 class="featureName"><tt>{{hc.trendData.items[0].name}}</tt></h3>
                            <img ng-src="{{hc.trendData.items[0].largeImage}}">

                            <div class="featuredDescription">
                                <span class="whiteFont"><tt>Our Low Price: {{hc.trendData.items[0].salePrice | currency}}</tt></span>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="centered">
                            <h3 class="featureName"><tt>{{hc.trendData.items[1].name}}</tt></h3>
                            <img ng-src="{{hc.trendData.items[1].largeImage}}">

                            <div class="featuredDescription">
                                <span class="whiteFont"><tt>Our Low Price: {{hc.trendData.items[1].salePrice | currency}}</tt></span>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="centered">
                            <h3 class="featureName"><tt>{{hc.trendData.items[2].name}}</tt></h3>
                            <img ng-src="{{hc.trendData.items[2].largeImage}}">

                            <div class="featuredDescription">
                                <span class="whiteFont"><tt>Our Low Price: {{hc.trendData.items[2].salePrice | currency}}</tt></span>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="centered">
                            <h3 class="featureName"><tt>{{hc.trendData.items[3].name}}</tt></h3>
                            <img ng-src="{{hc.trendData.items[3].largeImage}}">

                            <div class="featuredDescription">
                                <span class="whiteFont"><tt>Our Low Price: {{hc.trendData.items[3].salePrice | currency}}</tt></span>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    <!--<script src="../libs/elevatorJS/elevator.js"></script>-->
    <!--<script>-->
        <!--window.onload = function() {-->
            <!--new Elevator({-->
                <!--element: document.querySelector('.elevator-button'),-->
                <!--mainAudio: '../libs/elevator.js-master/demo/music/elevator.mp3',-->
                <!--endAudio: '../libs/elevator.js-master/demo/music/ding.mp3',-->
                <!--duration: 5000,-->
                <!--startCallback: function() {-->
                    <!--// is called, when the elevator starts moving-->
                <!--},-->
                <!--endCallback: function() {-->
                    <!--// is called, when the elevator reached target level-->
                <!--}-->
            <!--});-->
        <!--}-->
    <!--</script>-->
</div>

