<div>
    <div id="navbarCollapse" class="collapse navbar-collapse" ng-controller="navController as nav">
        <ul class="nav navbar-nav nav-pills">
            <li role="presentation" ng-class="{ active: nav.isActive('/home')}">
                <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a></li>
            <li role="presentation" ng-class="{ active: nav.isActive('/contact')}">
                <a ui-sref="contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
            <li role="presentation" ng-class="{ active: nav.isActive('/login')}">
                <a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in">Login</a></li>
            <li role="presentation" ng-class="{ active: nav.isActive('/login2')}">
                <a ui-sref="login2" data-toggle="collapse" data-target=".navbar-collapse.in">Login2</a></li>
        </ul>
        <button type="button" class="btn btn-default navbar-btn navbar-right" ng-click="nav.showModal()">Sign in</button>
    </div>
</div>