<div>


    <div class=" alert alert-success">
        <h1 class="centered">Super-Duper Megastore</h1>
        <!--<a ui-sref="SearchResult" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>-->
        <button class="btn btn-danger" ui-sref="home"><i class="fa fa-arrow-left"> Go Back</i></button>
    </div>
    <div class="alert alert-info">
        <input placeholder="Search" type="text" width="200" name="queryInput" ng-model="hc.searchQuery">
        <!--<input class="btn btn-success" id="fetchbtn" ng-click="hc.search()" ui-sref="SearchResult" value="Search Our Products">-->
        <button class="btn btn-success" id="fetchbtn" ng-click="hc.search()"><i class="fa fa-search fa-lg"></i> Search Our Products</button>

    </div>
    <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
            <div class="centered">
                <h1><tt>{{hc.WalData.items[0].name}}</tt></h1>
                <img ng-src="{{hc.WalData.items[0].largeImage}}"/><br>
            </div>
            <div class="description">
                <p style="color:#602a26;"><tt>Item Description: <span style="color:#ff707f"> {{hc.WalData.items[0].shortDescription}}</span></tt>
                </p>
                <tt>Item id:{{hc.WalData.items[0].itemId}}</tt><br>
                <tt>Our Price: {{hc.WalData.items[0].salePrice | currency}}</tt><br>
                <!--<tt>MSRP: {{hc.WalData.items[0].msrp}}</tt><br>-->
                <p style="color: red;"><tt>You saved:{{hc.WalData.items[0].msrp-hc.WalData.items[0].salePrice | currency}}</tt></p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbHeight" style="background-color:lavenderblush;">
                <div class="centered">
                    <h3><tt>{{hc.WalData.items[1].name}}</tt></h3>
                    <img ng-src="{{hc.WalData.items[1].thumbnailImage}}"/><br>
                </div>
                <div class="description">
                    <tt>Item id:{{hc.WalData.items[1].itemId}}</tt><br>
                    <tt>Our Price: {{hc.WalData.items[1].salePrice | currency}}</tt><br>
                    <tt>MSRP: {{hc.WalData.items[1].msrp | currency}}</tt>
                </div>

            </div>
            <div class="thumbHeight" style="background-color: #ebb8bd">
                <div class="centered">
                    <h3><tt>{{hc.WalData.items[2].name}}</tt></h3>
                    <img ng-src="{{hc.WalData.items[4].thumbnailImage}}"/><br>
                </div>
                <div class="description">
                    <tt>Item id:{{hc.WalData.items[4].itemId}}</tt><br>
                    <tt>Our Price: {{hc.WalData.items[4].salePrice | currency}}</tt><br>
                    <tt>MSRP: {{hc.WalData.items[4].msrp | currency}}</tt>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbHeight" style="background-color:lavender;">
                <div class="centered">
                    <h2><tt>{{hc.WalData.items[2].name}}</tt></h2>
                    <img ng-src="{{hc.WalData.items[2].thumbnailImage}}"/><br>
                </div>
                <div class="description">
                    <tt>Item id:{{hc.WalData.items[2].itemId}}</tt><br>
                    <tt>Our Price: {{hc.WalData.items[2].salePrice | currency}}</tt><br>
                    <tt>MSRP: {{hc.WalData.items[2].msrp | currency}}</tt>
                </div>
            </div>
            <div class="thumbHeight" style="background-color:#32f442;">
                <div class="centered">
                    <h3><tt>{{hc.WalData.items[3].name}}</tt></h3>
                    <img ng-src="{{hc.WalData.items[5].thumbnailImage}}"/><br>
                </div>
                <div class="description">
                    <tt>Item id:{{hc.WalData.items[5].itemId}}</tt><br>
                    <tt>Our Price: {{hc.WalData.items[5].salePrice | currency}}</tt><br>
                    <tt>MSRP: {{hc.WalData.items[5].msrp | currency}}</tt>
                </div>

            </div>

        </div>
    </div>
</div>