<div>
    <div class=" alert titleDiv">
        <h1 class="centered"><i class="fa fa-shopping-bag fa-lg magicTitle"></i> Super-Duper Megastore</h1>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn" ui-sref="home"><i class="fa fa-arrow-left fa-lg"></i> Go Back</button>
            </div>
            <div class="col-sm-6 right">
                <input placeholder="Search" type="text" width="200" name="newSearchInput" ng-model="sc.newSearch">
                <button class="btn searchBtn" id="searchBtn" ng-click="sc.search()"><i class="fa fa-search fa-lg whiteFont"></i>
                    Search Our Products
                </button>
            </div>
        </div>
    </div>

    <div class="alert resultsDiv">
        <h2 class="featuredDiv">Results: </h2>
        <div class="row">
            <div ui-sref="select" ng-click="se.setSelect();" class="col-sm-6 accentBlueBG firstResult">
                <div class="centered">
                    <h1><tt>{{sc.walData.items[0].name}}</tt></h1>
                    <img ng-src="{{sc.walData.items[0].largeImage}}"/><br>
                </div>
                <div class="description">
                    <tt><span class="whiteFont">Item Description:</span> {{sc.walData.items[0].shortDescription}}</tt><br>
                    <tt><span class="whiteFont">id:</span> {{sc.walData.items[0].itemId}}</tt><br>
                    <tt><span class="whiteFont">Price:</span> {{sc.walData.items[0].salePrice | currency}}</tt><br>
                    <!--<tt>MSRP: {{sc.walData.items[0].msrp}}</tt><br>-->
                    <tt><span class="whiteFont">You saved:</span> {{sc.walData.items[0].msrp-sc.walData.items[0].salePrice | currency}}</tt>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbHeight otherResults">
                    <div class="centered">
                        <h3><tt>{{sc.walData.items[1].name}}</tt></h3>
                        <img ng-src="{{sc.walData.items[1].thumbnailImage}}"/><br>
                    </div>
                    <div class="description">
                        <tt><span class="whiteFont">Item id:</span> {{sc.walData.items[1].itemId}}</tt><br>
                        <tt><span class="whiteFont">Our Price:</span> {{sc.walData.items[1].salePrice | currency}}</tt><br>
                        <tt><span class="whiteFont">MSRP:</span> {{sc.walData.items[1].msrp | currency}}</tt>
                    </div>

                </div>
                <div class="thumbHeight otherResults">
                    <div class="centered">
                        <h3><tt>{{sc.walData.items[2].name}}</tt></h3>
                        <img ng-src="{{sc.walData.items[4].thumbnailImage}}"/><br>
                    </div>
                    <div class="description">
                        <tt><span class="whiteFont">Item id:</span> {{sc.walData.items[4].itemId}}</tt><br>
                        <tt><span class="whiteFont">Our Price:</span> {{sc.walData.items[4].salePrice | currency}}</tt><br>
                        <tt><span class="whiteFont">MSRP:</span> {{sc.walData.items[4].msrp | currency}}</tt>
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbHeight otherResults">
                    <div class="centered">
                        <h3><tt>{{sc.walData.items[2].name}}</tt></h3>
                        <img ng-src="{{sc.walData.items[2].thumbnailImage}}"/><br>
                    </div>
                    <div class="description">
                        <tt><span class="whiteFont">Item id:</span> {{sc.walData.items[2].itemId}}</tt><br>
                        <tt><span class="whiteFont">Our Price:</span> {{sc.walData.items[2].salePrice | currency}}</tt><br>
                        <tt><span class="whiteFont">MSRP:</span> {{sc.walData.items[2].msrp | currency}}</tt>
                    </div>
                </div>
                <div class="thumbHeight otherResults">
                    <div class="centered">
                        <h3><tt>{{sc.walData.items[3].name}}</tt></h3>
                        <img ng-src="{{sc.walData.items[5].thumbnailImage}}"/><br>
                    </div>
                    <div class="description">
                        <tt><span class="whiteFont">Item id:</span> {{sc.walData.items[5].itemId}}</tt><br>
                        <tt><span class="whiteFont">Our Price:</span> {{sc.walData.items[5].salePrice | currency}}</tt><br>
                        <tt><span class="whiteFont">MSRP:</span> {{sc.walData.items[5].msrp | currency}}</tt>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>