<div>


    <div class=" alert alert-success">
        <h1 class="centered"><i class="fa fa-shopping-bag fa-lg"></i> Super-Duper Megastore</h1>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-danger" ui-sref=""><i class="fa fa-arrow-left fa-lg"></i> Go Back</i></button>
            </div>
            <div class="col-sm-6 right">
                <!--<input placeholder="Search" type="text" width="200" name="newSearchInput" ng-model="sc.newSearch">-->
                <!--<button class="btn btn-success" id="searchBtn" ng-click="sc.search()"><i class="fa fa-search fa-lg"></i> Search Our Products</button>-->
            </div>
        </div>
    </div>

    <!--<div class="alert alert-warning" >-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6" style="background-color:lavender;">-->
                <!--<div class="centered">-->
                    <!--<h1><tt>{{sc.walData.items[0].name}}</tt></h1>-->
                    <!--<img ng-src="{{sc.walData.items[0].largeImage}}"/><br>-->
                <!--</div>-->
                <!--<div class="description">-->
                    <!--<p style="color:#602a26;"><tt>Item Description: <span style="color:#ff707f"> {{sc.walData.items[0].shortDescription}}</span></tt>-->
                    <!--</p>-->
                    <!--<tt>Item id:{{sc.walData.items[0].itemId}}</tt><br>-->
                    <!--<tt>Our Price: {{sc.walData.items[0].salePrice | currency}}</tt><br>-->
                    <!--&lt;!&ndash;<tt>MSRP: {{sc.walData.items[0].msrp}}</tt><br>&ndash;&gt;-->
                    <!--<p style="color: red;"><tt>You saved:{{sc.walData.items[0].msrp-sc.walData.items[0].salePrice | currency}}</tt></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
